@import './resets';
@import './variables';

main {
  padding: 5%;
  overflow: scroll;
}


.reserve {

  & > div {
    margin-bottom: 30px;
  }
  h1 {
    font-size:  map-get($font-size, large);
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  p {
    font-size: map-get($font-size, default);
    margin: 1rem auto;

    @media (min-width:$mobile) {
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
    }
  }
  
}
.booking-info {

  & > div {
    margin-bottom: 30px;
  }

  &__details {
    @media (min-width:$mobile) {
      max-width: 600px;
      margin-right: 30px;
    }
  }

  &__availability {

    & iframe {
      max-width: 100%; 
      min-height: 300px;
    }

    @media (min-width:$mobile) {
      max-width: 300px;
    } 
  }

  @media (min-width:$laptop) {
    display: flex;
    margin-bottom: 100px;
    
  }
}

.further-info {

  &__details {

    & > div {
      @media (min-width:$mobile) {
        margin-right: 32px;
      }

      & > a {
        margin-right: 16px;
        text-decoration: none;
        color: $secondary-color;

        &:hover {
          opacity: .7;
        }
      } 
      
    }

  }
  
}